#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "CoAP client"


config COAP_TEST_SERVER_HOSTNAME
	string "CoAP server hostname or address"

config COAP_TEST_SERVER_PORT
	int "CoAP server port"

endmenu

choice
prompt "Select IP protocol"

config IP_PROTO_IPV4
  bool "IPv4"

config IP_PROTO_IPV6
  bool "IPv6"

endchoice


menu "Wi-Fi config"

config WIFI_CREDENTIALS_STATIC_SSID
	string "Wi-Fi SSID"

config WIFI_CREDENTIALS_STATIC_PASSWORD
	string "Wi-Fi Password"

config TWT_ANNOUNCED_MODE
  bool "Enable TWT announced mode"

endmenu

menu "Log Levels"
config MY_MAIN_LOG_LEVEL
    int "Main log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_WIFI_LOG_LEVEL
    int "Wi-Fi log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_COAP_LOG_LEVEL
    int "CoAP log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_TEST_LOG_LEVEL
    int "Test log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG
endmenu



menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu