#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "CoAP client"


config COAP_TEST_SERVER_HOSTNAME
	string "CoAP server hostname or address"

config COAP_TEST_SERVER_PORT
	int "CoAP server port"

endmenu


choice
prompt "Select IP protocol"

config IP_PROTO_IPV4
  bool "IPv4"

config IP_PROTO_IPV6
  bool "IPv6"

endchoice



menu "Wi-Fi config"

menu "Wi-Fi credentials"
config WIFI_CREDENTIALS_STATIC_SSID
	string "Wi-Fi SSID"

config WIFI_CREDENTIALS_STATIC_PASSWORD
	string "Wi-Fi Password"

endmenu

menu "TWT config"

config TWT_ANNOUNCED_MODE
  bool "Enable TWT announced mode"

config TWT_TRIGGER
  bool "Enable TWT trigger"

config TWT_IMPLICIT
  bool "Enable TWT implicit"

endmenu

menu "PS settings"

config PS_LISTEN_INTERVAL
  int "Listen interval"
  help
    Listen Interval (used when PS is enabled and wakeup mode is listen interval)

endmenu
endmenu

menu "Tests"
config PS_TESTS_ENABLE
  bool "Enable PS tests"

config PS_TEST_1
  bool "Enable PS Test 1"
  depends on PS_TESTS_ENABLE

config PS_TEST_1_PS_ENABLED
  bool "PS enabled for Test 1"
  depends on PS_TEST_1

config PS_TEST_1_ITERATIONS
  int "Iterations for Test 1"
  depends on PS_TEST_1

config PS_TEST_1_SEND_INTERVAL
  int "Send interval for Test 1 (ms)"
  depends on PS_TEST_1

choice PS_TEST_1_MODE
  prompt "Mode for Test 1"
  depends on PS_TEST_1 && PS_TEST_1_PS_ENABLED
  config PS_TEST_1_MODE_LEGACY
    bool "Legacy"
  config PS_TEST_1_MODE_WMM
    bool "WMM"
endchoice

choice PS_TEST_1_WAKEUP_MODE
  prompt "Wakeup mode for Test 1"
  depends on PS_TEST_1 && PS_TEST_1_PS_ENABLED
  config PS_TEST_1_WAKEUP_MODE_DTIM
    bool "DTIM"
  config PS_TEST_1_WAKEUP_MODE_LISTENINTERVAL
    bool "Listen Interval"
endchoice

config PS_TEST_2
  bool "Enable PS Test 2"
  depends on PS_TESTS_ENABLE

config PS_TEST_2_PS_ENABLED
  bool "PS enabled for Test 2"
  depends on PS_TEST_2

config PS_TEST_2_ITERATIONS
  int "Iterations for Test 2"
  depends on PS_TEST_2

config PS_TEST_2_SEND_INTERVAL
  int "Send interval for Test 2 (ms)"
  depends on PS_TEST_2

choice PS_TEST_2_MODE
  prompt "Mode for Test 2"
  depends on PS_TEST_2 && PS_TEST_2_PS_ENABLED
  config PS_TEST_2_MODE_LEGACY
    bool "Legacy"
  config PS_TEST_2_MODE_WMM
    bool "WMM"
endchoice

choice PS_TEST_2_WAKEUP_MODE
  prompt "Wakeup mode for Test 2"
  depends on PS_TEST_2 && PS_TEST_2_PS_ENABLED
  config PS_TEST_2_WAKEUP_MODE_DTIM
    bool "DTIM"
  config PS_TEST_2_WAKEUP_MODE_LISTENINTERVAL
    bool "Listen Interval"
endchoice

config PS_TEST_3
  bool "Enable PS Test 3"
  depends on PS_TESTS_ENABLE

config PS_TEST_3_PS_ENABLED
  bool "PS enabled for Test 3"
  depends on PS_TEST_3

config PS_TEST_3_ITERATIONS
  int "Iterations for Test 3"
  depends on PS_TEST_3

config PS_TEST_3_SEND_INTERVAL
  int "Send interval for Test 3 (ms)"
  depends on PS_TEST_3

choice PS_TEST_3_MODE
  prompt "Mode for Test 3"
  depends on PS_TEST_3 && PS_TEST_3_PS_ENABLED
  config PS_TEST_3_MODE_LEGACY
    bool "Legacy"
  config PS_TEST_3_MODE_WMM
    bool "WMM"
endchoice

choice PS_TEST_3_WAKEUP_MODE
  prompt "Wakeup mode for Test 3"
  depends on PS_TEST_3 && PS_TEST_3_PS_ENABLED
  config PS_TEST_3_WAKEUP_MODE_DTIM
    bool "DTIM"
  config PS_TEST_3_WAKEUP_MODE_LISTENINTERVAL
    bool "Listen Interval"
endchoice

config PS_TEST_4
  bool "Enable PS Test 4"
  depends on PS_TESTS_ENABLE

config PS_TEST_4_PS_ENABLED
  bool "PS enabled for Test 4"
  depends on PS_TEST_4

config PS_TEST_4_ITERATIONS
  int "Iterations for Test 4"
  depends on PS_TEST_4

config PS_TEST_4_SEND_INTERVAL
  int "Send interval for Test 4 (ms)"
  depends on PS_TEST_4

choice PS_TEST_4_MODE
  prompt "Mode for Test 4"
  depends on PS_TEST_4 && PS_TEST_4_PS_ENABLED
  config PS_TEST_4_MODE_LEGACY
    bool "Legacy"
  config PS_TEST_4_MODE_WMM
    bool "WMM"
endchoice

choice PS_TEST_4_WAKEUP_MODE
  prompt "Wakeup mode for Test 4"
  depends on PS_TEST_4 && PS_TEST_4_PS_ENABLED
  config PS_TEST_4_WAKEUP_MODE_DTIM
    bool "DTIM"
  config PS_TEST_4_WAKEUP_MODE_LISTENINTERVAL
    bool "Listen Interval"
endchoice

config PS_TEST_5
  bool "Enable PS Test 5"
  depends on PS_TESTS_ENABLE

config PS_TEST_5_PS_ENABLED
  bool "PS enabled for Test 5"
  depends on PS_TEST_5

config PS_TEST_5_ITERATIONS
  int "Iterations for Test 5"
  depends on PS_TEST_5

config PS_TEST_5_SEND_INTERVAL
  int "Send interval for Test 5 (ms)"
  depends on PS_TEST_5

choice PS_TEST_5_MODE
  prompt "Mode for Test 5"
  depends on PS_TEST_5 && PS_TEST_5_PS_ENABLED
  config PS_TEST_5_MODE_LEGACY
    bool "Legacy"
  config PS_TEST_5_MODE_WMM
    bool "WMM"
endchoice

choice PS_TEST_5_WAKEUP_MODE
  prompt "Wakeup mode for Test 5"
  depends on PS_TEST_5 && PS_TEST_5_PS_ENABLED
  config PS_TEST_5_WAKEUP_MODE_DTIM
    bool "DTIM"
  config PS_TEST_5_WAKEUP_MODE_LISTENINTERVAL
    bool "Listen Interval"
endchoice

config TWT_TESTS_ENABLE
  bool "Enable TWT tests"

config TWT_TEST_1
  bool "Enable TWT Test 1"
  depends on TWT_TESTS_ENABLE

config TWT_TEST_1_ITERATIONS
  int "Iterations for TWT Test 1"
  depends on TWT_TEST_1

config TWT_TEST_1_INTERVAL
  int "TWT interval for Test 1 (ms)"
  depends on TWT_TEST_1

config TWT_TEST_1_SESSION_DURATION
  int "TWT session duration for Test 1 (ms)"
  depends on TWT_TEST_1

config TWT_TEST_2
  bool "Enable TWT Test 2"
  depends on TWT_TESTS_ENABLE

config TWT_TEST_2_ITERATIONS
  int "Iterations for TWT Test 2"
  depends on TWT_TEST_2

config TWT_TEST_2_INTERVAL
  int "TWT interval for Test 2 (ms)"
  depends on TWT_TEST_2

config TWT_TEST_2_SESSION_DURATION
  int "TWT session duration for Test 2 (ms)"
  depends on TWT_TEST_2

config TWT_TEST_3
  bool "Enable TWT Test 3"
  depends on TWT_TESTS_ENABLE

config TWT_TEST_3_ITERATIONS
  int "Iterations for TWT Test 3"
  depends on TWT_TEST_3

config TWT_TEST_3_INTERVAL
  int "TWT interval for Test 3 (ms)"
  depends on TWT_TEST_3

config TWT_TEST_3_SESSION_DURATION
  int "TWT session duration for Test 3 (ms)"
  depends on TWT_TEST_3

config TWT_TEST_4
  bool "Enable TWT Test 4"
  depends on TWT_TESTS_ENABLE

config TWT_TEST_4_ITERATIONS
  int "Iterations for TWT Test 4"
  depends on TWT_TEST_4

config TWT_TEST_4_INTERVAL
  int "TWT interval for Test 4 (ms)"
  depends on TWT_TEST_4

config TWT_TEST_4_SESSION_DURATION
  int "TWT session duration for Test 4 (ms)"
  depends on TWT_TEST_4

config TWT_TEST_5
  bool "Enable TWT Test 5"
  depends on TWT_TESTS_ENABLE

config TWT_TEST_5_ITERATIONS
  int "Iterations for TWT Test 5"
  depends on TWT_TEST_5

config TWT_TEST_5_INTERVAL
  int "TWT interval for Test 5 (ms)"
  depends on TWT_TEST_5

config TWT_TEST_5_SESSION_DURATION
  int "TWT session duration for Test 5 (ms)"
  depends on TWT_TEST_5

endmenu

menu "Log Levels"
config MY_MAIN_LOG_LEVEL
    int "Main log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_WIFI_LOG_LEVEL
    int "Wi-Fi log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_COAP_LOG_LEVEL
    int "CoAP log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG

config MY_TEST_LOG_LEVEL
    int "Test log level"
    range 0 4
    depends on LOG
    help
      Levels are:

      - 0 OFF, do not write by default
      - 1 ERROR, default to only write LOG_LEVEL_ERR
      - 2 WARNING, default to write LOG_LEVEL_WRN
      - 3 INFO, default to write LOG_LEVEL_INFO
      - 4 DEBUG, default to write LOG_LEVEL_DBG
endmenu



menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu