/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
 
/ {
	zephyr,user {
		io0-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		io1-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		io2-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		io3-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
	};
};
